body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
}

footer {
  margin-bottom: 300px;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  margin-left: 140px;
  margin-top: -50px;
  padding-bottom: 20px;
}

h2 {
  padding: 5px 5px 5px 0px;
  font-size: 40px;
  font-weight: bold;
}

button {
  background: 00000;
  border-radius: 5px;
}

.box {
  display: block;
  border: 1px solid grey;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #ffffcc;
  max-width: 550px;
  padding-bottom: 300px;
}

.cf {
  font-size: 15px;
  display: block;
  margin-left: 192px;
  margin-top: -21px;
}

.container {
  margin-left: 40px;
  margin-bottom: 50px;
}

.forecast {
  margin-left: 380px;
  margin-top: -400px;
}

.form-control {
  max-width: 300px;
  margin-top: 50px;
}

.info {
  font-size: 15px;
  opacity: 0.8;
  display: block;
}

.main {
  font-size: 25px;
  display: block;
}

.row {
  margin-top: 70px;
}

.signature {
  display: block;
  text-align: center;
  font-size: 12px;
}

#c {
  margin-left: 175px;
  display: block;
}

#c:hover {
  cursor: pointer;
  font-weight: bold;
}

#condition {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

#current-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  margin-left: 400px;
  margin-top: -38px;
  font-size: 15px;
  background-color: #ffffff;
}

#f {
  display: block;
  margin-left: 200px;
  margin-top: -23px;
  max-width: 10px;
}

#f:hover {
  cursor: pointer;
  font-weight: bold;
}

#icon {
  width: 100px;
  margin-top: 20px;
}

#search {
  display: block;
}

#search-button {
  display: block;
  max-width: 80px;
  margin-left: 300px;
  margin-top: -38px;
}
